{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock%}

{% block body %}
<h1>Остальная часть сайта...</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Laboriosam quos suscipit velit voluptatum.</li>
<li>Accusamus laboriosam odit omnis tempora?</li>
<li>Doloribus ea nihil omnis perspiciatis.</li>
<li>Maiores porro repellendus tempore totam!</li>
<li>Dicta incidunt iste officia quidem.</li>
<li>Aliquid assumenda quod temporibus totam!</li>
<li>Dolores eum ipsa magnam repellat.</li>
<li>Incidunt neque quibusdam rerum voluptatum!</li>
<li>Animi consequatur deleniti et odio!</li>
<li>Expedita facere porro saepe voluptatem.</li>
<li>Accusamus architecto aut eaque fugiat.</li>
<li>Ducimus earum itaque nobis quasi!</li>
<li>Doloremque maiores natus non quisquam.</li>
<li>Ab facilis odit perferendis quam?</li>
<li>Delectus facere nostrum porro qui?</li>
<li>Animi aperiam culpa doloribus tempora?</li>
<li>At harum quidem veritatis voluptates.</li>
<li>Consectetur dolorem facere ipsam quidem?</li>
<li>Doloremque eligendi sunt velit voluptate.</li>
<li>Aspernatur quasi quo suscipit ullam.</li>
<li>Ad dicta magni maiores quia?</li>
<li>Eos odit ratione vel vitae?</li>
<li>Assumenda cumque id iusto quo.</li>
<li>Blanditiis eaque provident quisquam vitae?</li>
<li>Earum labore quas sit voluptates.</li>
<li>Ab iure nulla rerum tempore?</li>
<li>Culpa nulla officiis quia quidem.</li>
<li>Dicta fuga neque pariatur vitae?</li>
<li>Dignissimos dolorem et exercitationem ut!</li>
<li>Corporis deleniti fugiat harum hic!</li>
<li>Excepturi fugiat natus reprehenderit soluta?</li>
<li>Ea eos eum eveniet neque?</li>
<li>Neque nisi nostrum quasi quos.</li>
<li>Deleniti in magnam perspiciatis quidem!</li>
<li>Aspernatur consequatur maxime officiis sequi.</li>
<li>Accusamus praesentium ratione sapiente temporibus?</li>
<li>Ad aperiam consectetur esse tenetur!</li>
<li>Dolores molestiae non repellendus vel.</li>
<li>Ab neque odit recusandae reiciendis.</li>
<li>Ab expedita minus officia ullam?</li>
<li>Inventore maiores natus pariatur repellat.</li>
<li>Aperiam autem debitis explicabo odit?</li>
<li>Accusantium error numquam perspiciatis recusandae!</li>
<li>Amet aperiam incidunt nulla tempora?</li>
<li>Commodi cumque ducimus eaque error.</li>
<li>Esse fuga odit suscipit temporibus!</li>
<li>Dicta explicabo ipsam nesciunt sit.</li>
<li>Culpa dignissimos fugit iste recusandae!</li>
<li>Dicta magni tempora velit vero.</li>
<li>A accusantium architecto est nisi?</li>
<li>Consequuntur harum pariatur praesentium ullam?</li>
<li>Adipisci aliquam deserunt eaque quos!</li>
<li>Blanditiis deleniti fuga molestias reprehenderit!</li>
<li>Eaque quam quo sed tempore.</li>
<li>Accusamus ad dicta nobis quo!</li>
<li>Dignissimos earum obcaecati quas! Natus?</li>
<li>Doloremque fugiat itaque praesentium ratione!</li>
<li>Ad aperiam ipsum neque sapiente!</li>
<li>Dolorum obcaecati similique tenetur veritatis.</li>
<li>Beatae nobis quia similique vitae.</li>
<li>Exercitationem maiores nam nemo ut!</li>
<li>Aliquid laudantium officia quidem voluptates.</li>
<li>Deserunt dolorum modi obcaecati odit?</li>
<li>Dicta et molestiae nam perferendis!</li>
<li>Dolorem excepturi facilis porro quasi!</li>
<li>Autem et exercitationem fugit rerum.</li>
<li>Aperiam eligendi eveniet fugit quasi.</li>
<li>Accusantium atque minima nostrum voluptatibus.</li>
<li>Exercitationem necessitatibus qui sapiente voluptate.</li>
{% endblock %}